:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --yellow: rgb(255, 255, 0);
  --blue: rgb(0, 0, 255);
  --red: rgb(255, 0, 0);
  --green: rgb(0, 255, 0);
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border: solid var(--black) 2px;
  border-radius: 1rem;
  width: 5rem;
}

.yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.blue {
  background-color: var(--blue);
  color: var(--white);
}

.red {
  background-color: var(--red);
  color: var(--black);
}

.green {
  background-color: var(--green);
  color: var(--black);
}
