:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --yellow: rgb(255, 255, 0);
  --blue: rgb(0, 0, 255);
  --red: rgb(255, 0, 0);
  --green: rgb(0, 255, 0);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  margin-top: 1rem;
  margin-inline: 1rem;
}

.btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem;
}

button {
  min-width: 200px;
  font-size: 1.5rem;
  padding: 1em 2em;
  border: solid var(--black) 2px;
  border-radius: 1rem;
  transition: all 500ms;
}

button:hover,
button:focus {
  cursor: pointer;
  transform: scale(1.1);
}

.yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.blue {
  background-color: var(--blue);
  color: var(--white);
}

.red {
  background-color: var(--red);
  color: var(--black);
}

.green {
  background-color: var(--green);
  color: var(--black);
}

@media (min-width: 425px) {
  .btns-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
  }
}
