button {
  margin: 1rem;
  padding: 0.5rem;
  border: solid #000000 2px;
  border-radius: 1rem;
  width: 5rem;
}

.yellow {
  background-color: rgb(255, 255, 0);
  color: #000000;
}

.blue {
  background-color: rgb(0, 0, 255);
  color: #ffffff;
}

.red {
  background-color: rgb(255, 0, 0);
  color: #000000;
}

.green {
  background-color: rgb(0, 255, 0);
  color: #000000;
}
